<!DOCTYPE html>
<html lang="en">
<head>

    <title>Contact</title>
    {% include "linkcss.html" %}


</head>
<body>
    <header class="header-container">
        {% include "navbar.html" %}
    </header>
    <main>
        <section>
            <div class="title">
                <h1>Most Popular Course</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            </div>
            <div class="tab-container">
                <ul class="tab-list">
                    <li class="actice-tab">Web Desgin</li>
                    <li>Spring Boot</li>
                    <li>Java</li>
                    <li>Dev Ops</li>
                    <li>Cyber Security</li>
                </ul>
            </div>
            <!-- card -->

            <div class="card-container">
                <div class="card">
                    <img src="/static/forContact/1.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <hr>

                    </div>
                </div>

                <!-- 2 -->
                <div class="card">
                    <img src="/static/forContact/2.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>

                    </div>
                </div>

                <!-- 3 -->
                <div class="card">
                    <img src="/static/forContact/3.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>



                    </div>
                </div>
                <!-- 4 -->
                <div class="card">
                    <img src="/static/forContact/11.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Pythom</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>


                    </div>
                </div>
                <!-- 5 -->
                <div class="card">
                    <img src="/static/forContact/5.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <hr>

                    </div>
                </div>
                <!-- 6 -->
                <div class="card">
                    <img src="/static/forContact/6.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <hr>

                    </div>
                </div>
                <!-- 7 -->
                <div class="card">
                    <img src="/static/forContact/7.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <hr>

                    </div>
                </div>
                <!-- 8 -->
                <div class="card">
                    <img src="/static/forContact/8.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <hr>

                    </div>
                </div>
                <!-- 9 -->
                <div class="card">
                    <img src="/static/forContact/9.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <hr>

                    </div>
                </div>
                <!-- 10 -->
                <div class="card">
                    <img src="/static/forContact/10.jpg" alt="">
                    <div class="content-container">
                        <div class="label">
                            <small>All level </small>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <h2>Web Design</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, </div>
                        <p class="rating-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </p>
                        <hr>

                    </div>
                </div>
                <!-- <div class="card">2</div>
                <div class="card">3</div>
                <div class="card">4</div> -->

            </div>

        </section>
    </main>
    
    {% include "footer.html" %}
</body>

</html>