<!DOCTYPE html>
<html lang="en">
<head>

    <title>About Us</title>
    {% include "linkscript.html" %}
</head>
<body>
    <header class="header-container">
        {% include "navbar.html" %}
    </header>


    <section>
            <div class="title">
                <h1>Most Popular Course</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            </div>
    </section>
    <section class="container">
        <h2 class="title">
        😎
        Text Formatting
        😎
        </h2>
        <p class="keyword">
            Hi I am <span>Developers Cambodai</span> Team.😤
        </p>
        <br>
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores molestiae at accusamus sed, labore, saepe

        </small>
        <br>
        <br>
        <hr>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci voluptas minima, facilis, voluptatem ducimus ipsam ex excepturi
            voluptate repellendus error omnis, dolorem esse. Voluptate odio voluptatibus obcaecati debitis? Quae, ducimus.
        </p>
        <br>
        <button class="btn">🥺Learn more🥺</button>
    </section>
    {% include "footer.html" %}
    </body>
</html>