<!DOCTYPE html>
<html lang="en">
<head>

    <title>About Us</title>
    {% include "linkscript.html" %}
</head>
<body>
    <header class="header-container">
        {% include "navbar.html" %}
    </header>


        <div class="container ">
{#            <a href="/product" class="btn btn-info m-auto">Go to Product's page</a>#}
            <div align="center">
                <a href="/product" class="btn btn-info" style="text-align: center; align-items: center" >Go to Product's page</a>
            </div>

        </div>
    {% include "footer.html" %}
    </body>
</html>