<!DOCTYPE html>
<html lang="en">
<head>
    {% include "linkcss.html" %}
    <title>Product</title>
</head>
<body>
    <header class="header-container">
        {% include "navbar.html" %}
    </header>

    <div class="container">
        <div class="row">
                <div class="mt-3 col-md-4 col-sm-12">
{#                    <img src="/static/productImg/pro1.jpg">#}
                    <img src="{{ current_product.image }}" width="300px">
                </div>
                <div class="mt-3 col-md-8 col-sm-12">
                    <h3>{{ current_product.title }}</h3>
                    <strong>{{ current_product.description }}</strong>
                    <h4>
                        {% for _ in range(current_product.rating.rate|round|int) %}
                            <span class="star">&#9733;</span>
                        {% endfor %}
                        {% for _ in range(5 - current_product.rating.rate|round|int) %}
                            <span class="star">&#9734;</span>
                        {% endfor %}
                    </h4>
                    <h4>
                        <span class="badge bg-danger">{{ current_product.price }} $</span>
                    </h4>
                    <hr>
                    <a target="_blank" href="checkout?id={{ current_product.id }}" class="btn btn-primary">CheckOut</a>
                </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>

</html>